.card {
    background-color: rgb(81, 89, 107);
    color: black;
    border: #535bf2 solid 5px;
    border-radius: 25px;
    margin: 50px;
}

.card:hover {
    background-color: rgb(81, 89, 255);
    transition: 0.5s
}